.imgtextbtn-style {
    position: absolute;
    width: 90px;
    height: 30px;
    right: 0px;
    top: 30px;
    background: #188357;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
}

.imgtextbtn-style span {
    width: 52px;
    height: 18px;
    padding: 5px;
    font-size: 13px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 18px;
}

.imgtextbtn-style img {
    margin-left: 10px;
    width: 12px;
    height: 12px;
}